@model Folders.Models.File

@{
    ViewData["Title"] = "Create";
}

@if (Model.FolderId == 0)
{
    <div>
        <a asp-action="Index" class="my-2 btn btn-sm bg-light">&lt; Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-controller="Home" asp-action="Index" asp-route-id="@Model.FolderId" class="my-2 btn btn-sm bg-light">&lt; Back</a>
    </div>
}

@if (Model.FolderId != 0)
{
    <h1>Add a new file in @ViewBag.FolderName folder</h1>
}
else
{
    <h1>Add a new file</h1>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.FolderId == 0)
            {
                <div class="form-group">
                    <label asp-for="FolderId" class="control-label">Folder</label>
                    <select asp-for="FolderId" class="form-control" asp-items="ViewBag.FolderId"></select>
                </div>
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label">File name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
