@model MainViewModel

@if (Model.SelectedFolder.Files.Count > 0)
{
    <table class="table table-borderless table-striped">
        @foreach (var file in Model.SelectedFolder.Files)
        {
            <tr>
                <td><a asp-controller="Files" asp-action="Details" asp-route-id="@file.Id"class="black">@file.Name</a></td>
            </tr>
        }
    </table>
}